*

!config.md
!.zshrc
!.gitignore

!.config/
.config/*

!.config/alacritty/
!.config/alacritty/*

!.config/bspwm/
!.config/bspwm/*

!.config/dwm/
!.config/dwm/*

!.config/fish/
!.config/fish/*

!.config/fontconfig/
!.config/fontconfig/*

!.config/hypr/
!.config/hypr/*

!.config/kitty/
!.config/kitty/*

!.config/neofetch/
!.config/neofetch/*

!.config/polybar/
!.config/polybar/*

!.config/ranger/
!.config/ranger/*

!.config/rofi/
!.config/rofi/*

!.config/sway/
!.config/sway/*

!.config/zathura/
!.config/zathura/*

!.config/clash/
.config/clash/*
!.config/clash/yacd-gh-pages/
!.config/clash/yacd-gh-pages/*
